
.pad-on-desk{
	padding-top: 20px !important
}
@media (max-width: 600px){
	.custom-page-home{
		padding-bottom: 150px !important;
	}
	.custom-page-video{
		padding-bottom: 200px !important;
	}
	.custom-page-notify{
		padding-bottom: 50px !important;
	}
	.custom-page-contact{
		padding-bottom: 180px !important;
	}
	.custom-response-checkbox{
    position: relative !important;
    left: -17px !important;
    bottom: 25px !important;
    top: 33px !important;
	}

	br.hide-for-small-only{
		display: none !important
	}

	.pad-on-desk{
		padding-top: 0px !important
	}
}
